body {
  margin: 0px;
  font-family: 'Patrick Hand', cursive;
  color: #fff;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #1788cc;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: white;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

.bvn {
  color: #fff;
  text-align: center; 
} 

.dif {
  text-align: center;
}

.projets {
  text-align: center;
}

a {
  text-decoration:none; 
}

p { 
  font-size: 23px
  }
  
ul {
  display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
  text-align: center;
}
footer {
  background-color: #fff;
  color: #1788cc;
  display: block;
  text-align: center;
}
/* boutton */
.bvn-btn {
  border: none;
  background-color: #fff;
  color: #1788cc;
  font-size: 22px;
  padding: 10px 10px 10px 10px;
} 
.card-btn {
  color: #fff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #1788cc;
}
.card-btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

/* Card */
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.cards {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}



.card {
  text-align: center;
  background-color: #1788cc;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
 
.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #EE778A 100%);
}

.card_title {
  color: #1788cc;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #1788cc;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

/* Card2 */

.card2 {
  text-align: center;
  background-color: #1788cc;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card2_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #fff 0%, #17AC86 100%);
}

.card2_title {
  color: #1788cc;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card2_text {
  color: #1788cc;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

/* card3 */
.card3{
  font-family: 'Dancing Script', cursive;
    background-color: rgb(255, 251, 251);
    color: #1788cc;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0px 1rem 1.5rem rgba(0,0,0,0.5);
  }
  
  .card3 .banner{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 11rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
  }
  .card3 .banner img{
    background-color: #fff;
    width: 8rem;
    height: 8rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
    border-radius: 50%;
    transform: translateY(50%);
    transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
  
  .card3 .banner img:hover{
    transform: translateY(50%) scale(1.3);
  }
  
  .card3 h2.name{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding: 0 2rem 0.5rem;
    margin: 0;
  }
  
  .card4 .title{
    font-family: 'Dancing Script', cursive;
    color: #a0a0a0;
    font-size: 0.85rem;
    text-align: center;
    padding: 0 2rem 1.2rem;
  }
  
/* Responsive */

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
      color: #fff;
    position: absolute;
    display: block;
    width: 100%;
    background-color: #1788cc;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}